@use "__variables" as v;
@use "__mixins" as m;

.Country-list {
  @include m.card-grid;

  .country-cards {
    @include m.country-card-style;


  }
}

.Explore-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: v.$spacing 2rem;
  margin-bottom: v.$spacing;
  gap: 1rem;

  h1 {
    margin: 0;
    text-align: center;
    flex: 1;
  }
  .search-container {
    position: absolute;
    right: 3rem;

    input {
      padding: 0.5rem 1rem;
      border: 1px solid #ccc;
      border-radius: 12px;
      outline: none;

      &:focus {
      border-color: v.$secondary-color;
      }
    }
  }
}
